<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header"><h1>EDITAR/ELIMINAR PRODUCTO</h1></div>
    
    <h2>Mis productos: <%= productos.id %> </h2>
    <ul>
      <% for (let i=0; i < productos.length; i++) { %>
          <li>
            <h4><%= productos[i].dataValues.id+" "+productos[i].dataValues.name%></h4>
          </li>
      <% } %> 
    </ul>
  </body>
</html>