<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listado de productos</h1>
    <ul>
      <% for (let i=0; i<productos.length; i++) { %>
          <li>
            <%= productos[i].name %>
          </li>
      <% } %> 
    </ul>
  </body>
</html>
