body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0px;
}

div.header{
  padding: 20px;
  text-align: center;
  background-color: green;
  font-weight: bolder;
  font-size: larger;
}
a {
  color: #00B7FF;
}
.prodPics{
  height: 150px;
  box-shadow: 10px;
}
.listado{
  text-align: center;
  list-style-type: none;
}

.prodCar{
  text-align: center;
  width: 200px;
  box-shadow: 10px;
}

.logoDH{
  width: 300px;
  
}

.titulo{
  text-align: center;
}

.botonAgregar{
  color: white;
  background-color: blue;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  border-color: black;
  border: 20px;
  text-decoration: none;
}
.botonEditar{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  border: 20px;
  text-decoration: none;
}
.botonBorrar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  border: 20px;
  text-decoration: none;
}

.sectionButton{
  text-align: center;
  margin-top: 30px;
  
}

.formulario{
  margin: auto;
  width: 20%;
}
.botones{
  text-align: center;
}